<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="KonasoftBVFonix3Context" connectionString="Data Source=10.20.30.5;Initial Catalog=Konasoft.BV.Fonix3;Integrated Security=false;User Id=sa; Password=KonaSoft123;;Application Name=NAVIGATOR;" providerName="System.Data.SqlClient" />
    <!--<add name="FanyContext" connectionString="Server=10.20.30.110;Database=fany_sandbox;Uid=fanyuser;Pwd=Fany111;" providerName="MySql.Data.MySqlClient" />-->
    <add name="KonasoftBVFonixContext" connectionString="Data Source=10.20.30.5;Initial Catalog=Konasoft.BV.Fonix;Integrated Security=false; User Id=sa; Password=KonaSoft123;;Application Name=fenyites_teszt;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ADPort" value="389" />
		<add key="ADFelhasznaloNev" value="validv" />
		<add key="ADJelszo" value="kurkumA1" />
		<add key="ADGyokerUt" value="DC=konasoft,DC=local" />
		<add key="ADAuthentikacioTipus" value="Nincs" />
		<add key="KepekMentesiHelye" value="~/Kepek/" />
		<add key="TrackTimeLog" value="0" />
		<add key="TrackCountLog" value="0" />
		<add key="TrackRequestLog" value="false" />
		<add key="KonalyticsFramework" value="http://www.hellohetfo.hu/KonalyticsFramework_Teszt/KonalyticsFramework/konalytics.js" />
		<add key="Product" value="Fegyelmi_teszt" />
		<add key="ProductNoemiId" value="60" />
		<add key="modulSzerepkorPrefix" value="jfk,fegyelmi" />
		<add key="Noemi2020url" value="https://www.konasoft.hu/N2020/app/toolbar/index.html" />
		<add key="AlkalmazasUrl" value="http://localhost:8080" />
		<add key="DataUpdateTimeFenyitesVegrehajtasok" value="01:28" />
		<add key="DataUpdateTimeAutomatikusFelfuggesztes" value="22:37" />
		<add key="rogzitoIntezetId" value="135" />
		<add key="rogzitoSzemelyId" value="12" />
		<add key="VirKimutatasFegyelmiUrl" value="http://bvop-bvig087912/_layouts/15/xlviewer.aspx?id=/VIR/FenyitesKimutatas.xlsx" />
		<add key="VirKimutatasJutalomUrl" value="http://bvop-bvig087912/_layouts/15/xlviewer.aspx?id=/VIR/JutalomKimutatas.xlsx" />
		<add key="FanyBaseUrl" value="http://fonix/FANY" />
		<add key="Fonix3Url" value="https://localhost:44322/" />
    <add key="AktivitasModulCid" value="2000030" />
    <add key="modulCimkeId" value="2000030" />
    <add key="PersonalHelpdeskUrl" value="https://konasoft.app/PersonalHelpdesk/#/?l=" />
    <add key="PersonalHelpdeskProjektId" value="28" />
	</appSettings>
  <system.web>
    <sessionState cookieName="FenyitesSessionId" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" requestValidationMode="2.0" />
   
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.10.0" newVersion="3.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBFBSzerviz" openTimeout="01:00:00" closeTimeout="01:00:00" sendTimeout="01:00:00" receiveTimeout="01:00:00" />
        <binding name="BasicHttpBinding_IFegyelmiSzerviz" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.20.30.22/FanyWebSzerviz/BFBSzerviz.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBFBSzerviz" contract="BfbSzervizek.IBFBSzerviz" name="BasicHttpBinding_IBFBSzerviz" />          
      <endpoint address="http://10.20.30.22/FanyWebSzerviz/FegyelmiSzerviz.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFegyelmiSzerviz" contract="FegyelmiSzervizek.IFegyelmiSzerviz" name="BasicHttpBinding_IFegyelmiSzerviz" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="StaticFile" />
      <add name="Owin" verb="" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
      <remove name="OPTIONSVerbHandler" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:8080" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With, origin, content-type, accept" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.net>
    <mailSettings>
      <smtp from="noreply.noemi@konasoft.hu">
        <network enableSsl="true" host="smtp.office365.com" port="587" userName="noemi@konasoft.hu" password="KonaSoft012" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>