
<div class="m-subheader m--padding-left-20-tablet-and-mobile m--padding-right-20-tablet-and-mobile">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">
                Hiba lépett fel az alkalmazás működése során.
            </h3>
        </div>
    </div>
</div>

